/* padronizar elementos */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:Helvetica, sans-serif;
}
body{
    background-color: #232F3E;
    color: #c0c0c0;
}
.bold {
    font-weight: bold;
}
a{
    color: #c0c0c0;
    text-decoration: none;
}
/* HEADER */
header {
    background-color: #131921;
    padding: 15px;

    position: sticky;
    top:0;
    width: 100%;

    display:flex;
    justify-content:space-between;
}

/* links do header */
header ul {
    display:flex;
    list-style: none;
    align-items:center;
}
ul li {
    margin-right: 10px;
}
ul li a {
    color:#c0c0c0;
    text-decoration: none;
    }

    /* CONTAINER(main) */
.container {
min-height:60vh;
padding: 50px;
}

/* section */
.products-container {
    max-width:1200px;
    margin: 0 auto;
}

.card {
    width:31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;

    background-position:center;
    background-size:cover;   
}

#img-1 {
background-image: url(../img/T1.jpg);
}
#img-2 {
background-image: url(../img/T2.jpg)
}
#img-3 {
background-image: url(../img/T3.jpg);
}
#img-4 {
background-image: url(../img/T4.jpg)
}
#img-5 {
background-image: url(../img/T5.jpg);
}
#img-6 {
background-image: url(../img/T6.jpg);
}

/* descrição e botão */
h3{
    margin-bottom: 10px;
    font-size: 1.5em;
}
.card p{
    margin-bottom: 10px;
}

.btn {
    color:#c0c0c0;
    text-decoration: none;
    background-color: #131921;
    padding:15px;
    border-radius:6px;

    display:block;
    width:100%;
    text-align: center;
    text-transform: uppercase;
}

div a:hover {
    background-color: #0a0d11;
}

/* footer */
footer {
    background-color:#131921;
    text-align: center;
    padding: 80px;
}